<div class="center hero-unit">
  <h1>Добро пожаловать! Это прототип персонального сайта для группы студентов.</h1>

  <h2>
    Сайт предназначен для размещения новостей и их обсуждения между студентами.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>