@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#logo1 {
  float: left;
  margin-right: 20px;
  font-size: 1.2em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  line-height: 1;
}

#logo1:hover {
  color: #fff;
  text-decoration: none;
}

#pagelinks {
  float: left;
  margin-right: 25px;
  font-size: 1.2em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 15px;
  line-height: 1;
}

#pagelinks:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* всякое */

.con {
  margin: 0 auto;
  width: 600px;
  background: white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  }
.con h2{
  text-align: left;
  margin-bottom: -20px;
  padding: 10px;
  background: #000;
  font-family: Arial;
  font-size: 1.5em;
  color: #fff;
}
.con h3{
  padding: 5px;
  background: #ecede3;
  font-family: Arial;
  font-size: 1.2em;
  color: #000;
}
.con td {
  width: 600px;
  padding: 20px;
  font-family: Arial;
  font-size: 1.1em;
}
.phgal{
  margin: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 270px;
  padding: 12px;
  background: white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  float: left;
}
.phgal h2{
  text-align: left;
  margin-bottom: -20px;
  padding: 10px;
  background: #000;
  font-family: Arial;
  font-size: 1.2em;
  color: #fff;
}
.phgal h3{
  padding: 5px;
  background: #ecede3;
  font-family: Arial;
  font-size: 1.1em;
  color: #000;
}
.phgal td {
  width: 300px;
  padding: 2px;
  font-family: Arial;
  font-size: 1.0em;
}
.clear{
  clear: left;
}