<footer class="footer">
  <small>
    <a href="http://vk.com/mshamild">Мустафин Шамиль</a>
    &copy 2015
  </small>
  <nav>
    <ul>
      <li><%= link_to "Мы ВКонтакте",   'http://vk.com/pi921' %></li>
      <li><%= link_to "Наш институт", 'http://vk.com/itis_kpfu' %></li>
    </ul>
  </nav>
</footer>