<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "11-207", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <%= link_to "О нас",    about_path, id: "pagelinks" %>
          <%= link_to "Link2",    '#', id: "pagelinks" %>
          <%= link_to "Link3", '#', id: "pagelinks" %>
        </ul>
      </nav>
    </div>
  </div>
</header>